table{
    border:2px black solid;
}

td{
padding-bottom:20px;
padding-left:50px;
background-color:lightblue;
color:blue;
}

#home{
    background-color: orange;
}

#home1{
    color:white;
    background-color: gray;
}

.hor
{
    background-color: darkgray;
}