div{
    height:70px;
    width:70px;
    margin-bottom: 10px;
    border-radius: 7px;
    position:relative;
    right:20px;
}

h1,p{
    display: inline;
    position: relative;
    left:200px;
    margin:0px;
}

.button1{
    background-color: rgb(76, 185, 76);
    transition: 0.4s;
}

.button2{
    background-color: rgb(28, 150, 180);
    transition: 0.4s;
}

.button3{
    background-color: rgb(218, 50, 50);
    transition: 0.4s;
}

.button4{
    background-color: rgb(78, 81, 78);
    transition: 0.4s;
}

div:hover{
    transform: scale(1.1);
    transition: 0.4s;
}